
<link href="https://fonts.googleapis.com/css?family=Lobster+Two|Nunito&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-md mb-3">
  <div class="container">
      <img src="https://render.bitstrips.com/v2/cpanel/78048204-cb40-44e7-ace4-a0064c4af63f-59ab9e42-9b93-447e-8df9-86fcc8b30a84-v1.png?transparent=1&palette=1"style="width:5%;   display: block;
        
      margin-right: auto;
      border-radius: 50%;height: 5%;">
      <a href="{% url 'index' %}" class="navbar-brand">The Hood</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
         
          {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
  
              </li>
              <li class="nav-item">
                  <a href="{% url 'business' %}" class="nav-link">Bizz</a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'profile' user %}" class="nav-link">Profile</a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'edit_profile' user %}" class="nav-link">Edit Profile</a>
                  </li>
             
              <li class="nav-item">
             
                  <a href="{% url 'new_post' %}" class="nav-link">New Post?</a>
              </li>
              <li class="nav-item">
             
                  <a href="{% url 'new_business' %}" class="nav-link">New Business?</a>
              </li>
             
              <li class="nav-item">
                  <a href="/logout" class="nav-link">Logout</a>
              </li>
          </ul>
          {% else %}
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a href="/accounts/login" class="nav-link">Login</a>
              </li>
              <li class="nav-item">
                  <a href="/accounts/register" class="nav-link">Register</a>
              </li>
          </ul>
          {% endif %}
      </div>
  </div>
</nav>


